<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

<div class='container-fluid'>
<h1>Detailansicht</h1>
<h2>Status ändern</h2>

{% if error %}<p class="p-3 mb-2 bg-danger text-white">{{ error }}</p>{% endif %}

<form action="{% url 'todo:select' entry.id %}" method="post">
{% csrf_token %}

<input type="radio" name="done" id="donetrue" value="true">
<label for="donetrue">Erledigt</label><br>

<input type="radio" name="done" id="donefalse" value="false">
<label for="donefalse">Ausstehend</label><br>

<input type="submit" value="Ändern" class="p-3 mb-2 bg-info text-white">
</form>
</div>