<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

<div class='container-fluid'>
<h1>ToDo-Liste</h1></br>

{% if entry_list %}
    <ol>
    {% for entry in entry_list %}
    <li><a href="/todo/{{entry.id}}", class="text-dark">{{ entry }}</a></br>
        {% if entry.done %}
            <p class="text-success">Erledigt
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-check-circle-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
            </svg>
            </p>
        {% else %}
            <p class="text-danger">Ausstehend
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-check-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
            <path fill-rule="evenodd" d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.236.236 0 0 1 .02-.022z"/>
            </svg>
            </p>
        {% endif %}</br>
    </li>
    {% endfor %}
    </ol>
    <form action="{% url 'todo:new_entry' %}" method="post">
        {% csrf_token %}
        <input type="text" name="entry_text" placeholder='Name'>
        <input type="submit" class="p-3 mb-2 bg-info text-white" value="Anlegen">
    </form>
{% else %}
    <p>No ToDo's.</p>
{% endif %}
</div>